{% extends "model-page.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2 class="text-center mb-4">Cadastro de Cliente</h2>
        
        <!-- Formulário de Cadastro -->
        <form method="post" class="card p-4" action="{% url 'cadastrar_submicao' %}">
            {% csrf_token %}
            
            <!-- Nome -->
            <div class="mb-3">
                <label for="id_nome" class="form-label">Nome</label>
                {{ form.nome }}
            </div>
            
            <!-- E-mail -->
            <div class="mb-3">
                <label for="id_email" class="form-label">E-mail</label>
                {{ form.email }}
            </div>
            
            <!-- Telefone -->
            <div class="mb-3">
                <label for="id_telefone" class="form-label">Telefone</label>
                {{ form.telefone }}
            </div>
            
            <!-- Endereço -->
            <div class="mb-3">
                <label for="id_endereco" class="form-label">Endereço</label>
                {{ form.endereco }}
            </div>
            <!-- CPFCNPJ--->
            <div class="mb-3">
                <label for="id_cpfcnpj" class="form-label">CPFCNPJ</label>
                {{ form.cpfcnpj }}
            </div>
            
            <!-- Botão de Envio -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
  
</div>




{% endblock %}