{% extends "model-page.html" %}

{% block content %}
<div class="row">
        <!-- Sidebar -->
        <div class="col-md-2 sidebar py-3 bg-light border-end">
            <div class="d-flex flex-column">
                <h4 class="mb-4 text-success">Order Manager V.1.0</h4>
        
                <a href="{% url 'relatorios' %}" class="btn btn-warning mb-5">
                    <i class="bi bi-bar-chart me-2"></i>
                    Relatórios
                </a>
                <a href="{% url 'relatorio_pedidos' %}" class="btn btn-warning mb-5">
                    <i class="bi bi-bar-chart me-2"></i>
                    Relatórios Detalhamento pedidos
                </a>
                <a href="{% url 'list_produtos' %}" class="btn btn-warning mb-5">
                    <i class="bi bi-bar-chart me-2"></i>
                    Adicionar Produtos
                </a>

                <a  href="{% url 'list_clientes' %}" class="btn btn-warning">
                    <i class="bi bi-bar-chart me-2"></i>
                    Adicionar Clientes
                </a>
            </div>
        </div>
        
        <main class="col-md-10 main-content p-4">
            <!-- Orders Section -->
            <div id="orders-section" class="content-section">
                <div class="card shadow-sm">
                    <div class="card-header d-flex justify-content-between align-items-center bg-white py-3">
                        <h5 class="mb-0 text-primary">Pedidos Ultimas 24 horas</h5>
                        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newOrderModal">
                            Novo Pedido
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Cliente</th>
                                        <th scope="col">Itens</th>
                                        <th scope="col">Valor Total</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Data</th>
                                        <th scope="col">Ações</th>
                                    </tr>
                                </thead>
                                <tbody id="orders-table-body">
                                    {% for pedido in pedidos %}
                                        <tr>
                                            <td>{{ pedido.id }}</td>
                                            <td>{{ pedido.cliente.nome }}</td>
                                            <td>
                                                <ul class="list-unstyled">
                                                    {% for item in pedido.itens.all %}
                                                        <li> {{ item }} (R$ {{ item.produto.preco }})</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td>R$ {{ pedido.valor_total }}</td>
                                            <td>{{ pedido.get_status_display }}</td>
                                            <td>{{ pedido.data_pedido|date:"d/m/Y H:i" }}</td>
                                            <td>
                                                <a href="{% url 'editar_pedido' pedido.id %}" class="btn btn-sm btn-warning"> <i class="bi bi-pencil"></i></a>
                                                <a href="{% url 'excluir_pedido' pedido.id %}" class="btn btn-sm btn-danger" title="Excluir" onclick="return confirm('Tem certeza que deseja excluir este produto?');"><i class="bi bi-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        

<div class="modal fade" id="newOrderModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Novo Pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="newOrderForm" action="{% url 'salvar_pedido' %}" method="post">
                    <!-- Dropdown para Cliente -->
                    <div class="mb-3">
                        <label for="customerSelect" class="form-label">Cliente</label>
                        <select class="form-select" id="customerSelect" name="cliente_id" required>
                            <option value="">Selecione um cliente</option>
                            {% for cliente in clientes %}
                                <option value="{{ cliente.id }}">{{ cliente.nome }} - {{ cliente.cpfcnpj }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Container para Produtos -->
                    <div id="products-container">
                        <div class="product-entry mb-3">
                            <h6>Produto 1</h6>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Produto</label>
                                    <select class="form-select product-select" name="produtos[]" required>
                                        <option value="">Selecione um produto</option>
                                        {% for produto in produtos %}
                                            <option value="{{ produto.id }}" data-price="{{ produto.preco }}">
                                                {{ produto.nome }} - {{ produto.preco }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="form-label">Quantidade</label>
                                    <input type="number" class="form-control product-quantity" name="quantidades[]" min="1" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Botão para Adicionar Mais Produtos -->
                    <button type="button" class="btn btn-secondary mb-3" onclick="addProductField()">
                        Adicionar Produto
                    </button>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>




<!-- New Order Modal -->
<!-- <div class="modal fade" id="newOrderModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Novo Pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="newOrderForm">
                    <div class="mb-3">
                        <label for="customerName" class="form-label">Nome do Cliente</label>
                        <input type="text" class="form-control" id="customerName" required>
                    </div>
                    <div id="products-container">
                        <div class="product-entry mb-3">
                            <h6>Produto 1</h6>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Nome</label>
                                    <input type="text" class="form-control product-name" required data-autocomplete-url="{% url 'buscar_produtos' %}">
                                </div>
                                <div class="col">
                                    <label class="form-label">Quantidade</label>
                                    <input type="number" class="form-control product-quantity" min="1" required>
                                </div>
                                <div class="col">
                                    <label class="form-label">Preço</label>
                                    <input type="number" class="form-control product-price" min="0" step="0.01" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary mb-3" onclick="addProductField()">
                        Adicionar Produto
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="saveOrder()">Salvar</button>
            </div>
        </div>
    </div>
</div>
-->



{% endblock %}