<!DOCTYPE html>
<html lang="en">
<head>
   {% include "model-header.html" %}

</head>
   <body>
      <div class="container-fluid">
         <div class="row">
            
              <div class="container-fluid">
               {% if messages %}
                  <div class="messages">
                     {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                           {{ message }}
                        </div>
                     {% endfor %}
                     
                     <script >
                     window.setTimeout(function () {
                        $(".alert").fadeTo(1000, 0, function () { // 1000ms = 1 segundo para desaparecer
                            $(this).slideUp(1000, function () { // 1000ms = 1 segundo para reduzir a altura
                                $(this).remove(); // Remove a mensagem do DOM
                            });
                        });
                    }, 2000);
                   
                    </script>
                  </div>
               {% endif %}
                <div class="row">
                      <!-- Menu Horizontal -->
                     <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                        <div class="container-fluid">
                           <!-- Botão Home -->
                           <a href="/" class="btn btn-success me-3">
                              <i class="bi bi-house-door"></i> Home
                           </a>

                           
                           <a class="navbar-brand text-success" href="#">Order Manager V.1.0</a>

                         
                           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                           </button>

                           <!-- Itens do Menu -->
                           <div class="collapse navbar-collapse" id="navbarNav">
                              <ul class="navbar-nav">
                                    <!-- Relatórios -->
                                    <li class="nav-item">
                                       <a href="{% url 'relatorios' %}" class="btn btn-warning me-2">
                                          <i class="bi bi-bar-chart me-2"></i> Relatórios
                                       </a>
                                    </li>

                                    <!-- Relatórios Detalhamento Pedidos -->
                                    <li class="nav-item">
                                       <a href="{% url 'relatorio_pedidos' %}" class="btn btn-warning me-2">
                                          <i class="bi bi-bar-chart me-2"></i> Relatórios Detalhamento Pedidos
                                       </a>
                                    </li>

                                    <!-- Adicionar Produtos -->
                                    <li class="nav-item">
                                       <a href="{% url 'list_produtos' %}" class="btn btn-warning me-2">
                                          <i class="bi bi-bar-chart me-2"></i> Adicionar Produtos
                                       </a>
                                    </li>

                                    <!-- Adicionar Clientes -->
                                    <li class="nav-item">
                                       <a href="{% url 'list_clientes' %}" class="btn btn-warning me-2 ">
                                          <i class="bi bi-bar-chart me-2"></i> Adicionar Clientes
                                       </a>
                                    </li>

                                    <li class="nav-item">
                                       <a href="{% url 'list_usuarios' %}" class="btn btn-warning me-2">
                                           <i class="bi bi-person-plus me-2"></i> Criar Usuário
                                       </a>
                                   </li>
                              </ul>
                           </div>
                           <form action="{% url 'logout' %}" method="post">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-danger">
                                  <i class="bi bi-box-arrow-right"></i> Sair
                              </button>
                          </form>
                        </div>
                  </nav>

                  <div class="col-md-12">

                    {% block content %} 
                    
                    {% endblock %}
                  </div>
      
                </div>
                
              </div>
              
            </div>

         
      </div>
      {% include "model-footer.html" %}
   </body>
</html>
