<!DOCTYPE html>
<html lang="en">
<head>
   {% include "model-header.html" %}

</head>
   <body>
      <div class="container-fluid">
         <div class="row">
            
              <div class="container-fluid">
                <div class="row">
                      <div class="col-md-12 text-center my-3">
                        <a href="/" class="btn btn-primary">Home</a>
                     </div>
                  <div class="col-md-12">
                    {% block content %} {% endblock %}
                  </div>
      
                </div>
                
              </div>
              
            </div>

         {% include "model-footer.html" %}
      </div>
   </body>
</html>
