
.sidebar .btn-link {
    color: #495057;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar .btn-link:hover {
    color: #0d6efd; /* Cor do hover */
}

.sidebar .btn-link.active {
    color: #0d6efd; /* Cor do botão ativo */
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 3px 0;
    border-top: 1px solid #ddd;
    z-index: 1000;
}
  
.alert {
    padding: 15px; /* Espaçamento interno */
    margin: 10px auto; /* Centraliza horizontalmente e adiciona margem vertical */
    border: 1px solid transparent; /* Borda transparente */
    border-radius: 8px; /* Bordas mais arredondadas */
    max-width: 600px; /* Largura máxima da mensagem */
    width: 50%; /* Largura relativa à tela */
    text-align: center; /* Centraliza o texto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.alert-success {
    color: #3c763d; /* Cor do texto */
    background-color: #dff0d8; /* Cor de fundo */
    border-color: #d6e9c6; /* Cor da borda */
}

.alert-error {
    color: #a94442; /* Cor do texto */
    background-color: #f2dede; /* Cor de fundo */
    border-color: #ebccd1; /* Cor da borda */
}