
.sidebar .btn-link {
    color: #495057;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar .btn-link:hover {
    color: #0d6efd; /* Cor do hover */
}

.sidebar .btn-link.active {
    color: #0d6efd; /* Cor do botão ativo */
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    z-index: 1000;
}